<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.termplannerapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TermDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".TermListActivity"/>
        <activity
            android:name=".TermListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AssessmentEditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MentorEditorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssessmentListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MentorListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CourseListActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CourseEditorActivity"
            android:label="@string/title_activity_course_editor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermEditorActivity"
            android:label="@string/title_term_editor_activity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.termplannerapp.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>